{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
        <h1>Empresa creacion</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Guardar" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('empresa_index') }}">Back to the list</a>
        </li>
    </ul>
</div>

{% endblock %}
