{% extends 'base.html.twig' %}

{% block body %}
<hr>
<hr>
<center>

    <H2>CATEGORÍAS</H2>

    <table border="5">
        <thead>
            <tr>
                <th>Código</th>
                <th>Nombre</th>
            </tr>
        </thead>
        <tbody>
        {% for categorium in categorias %}
            <tr>
                <td><a href="{{ path('categoria_show', { 'id': categorium.id }) }}">{{ categorium.id }}</a></td>
                <td>{{ categorium.nombre }}</td>
              
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</center>
    <ul>
        <li>
            <a href="{{ path('categoria_new') }}">Crear nueva categoría</a>
        </li>
    </ul>
{% endblock %}
