{% extends 'base.html.twig' %}

{% block body %}
<hr>
<hr>

<center>
<h2>INGRESAR ACTIVO</h2>

    {{ form_start(form) }}
    <div class="form-group">
        {{ form_widget(form) }}
        
    </div>
        <hr>
        <input type="submit" value="Guardar" />

    {{ form_end(form) }}
</center>
    <ul>
        <li>
            <a href="{{ path('categoria_index') }}">Regresar</a>
        </li>
    </ul>

{% endblock %}
