{% extends 'base.html.twig' %}


{% block body %}
<center>
<div class="container" style="margin-top:30px;">
  <div class="row well">
   <div class="col-md-6">
       <div class="page-header">
            <h2>NUEVO ACTIVO</h2> 
       </div>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Guardar" />
    {{ form_end(form) }}
</center>
</div>
</div>
    <ul>
        <li>
            <a href="{{ path('activo_index') }}">Regresar</a>
        </li>
    </ul>
{% endblock %}
